
            div.carousel-text{
                bottom: 0%;
                z-index: 1;
                position: absolute;
                letter-spacing: 0.4em;
                font-size: 20px;
                width: 50%;
                align-items: center;
                justify-content: center;
                height: auto;
                margin: 0 auto;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.295);
                
            }
            .carousel-title{
                top: 20%;
                right: 20%;
                position: absolute;
                z-index: 1;
            }