<p class="input-container"> <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search" /> </p> 
<!-- <button class="searchButton" (click)="reset(); searchBox.value = ''" >reset</button> -->
<div *ngIf="show === true">
  <h2>Search Results</h2>
  <div class="list-container">
      <li *ngFor="let data of datas$ | async" >
        <app-card  *ngIf="data.type !== show" [format]= "movieTmdb" [formatTrakt]= "formatMovie" [data]= data.movie></app-card>
        <app-card [formatTrakt] = "formatShow" [format]= "showTmdb"[data]= data.show></app-card>
      </li>
  </div>
</div>